<app-barra-comandos
  (eventoBusca)="consultar($event)"
  linkForm="/profissional-form"></app-barra-comandos>
<table>
  <thead>
    <th>ID</th>
    <th>Nome</th>
    <th>Registro</th>
    <th>Especialidade</th>
    <th>Unidade</th>
    <th>Telefone</th>
    <th>E-mail</th>
    <th>Ações</th>
  </thead>
  <tbody>
    @for (item of registros; track item) {
      <tr>
        <td class="fit">{{ item.id }}</td>
        <td>{{ item.nome }}</td>
        <td>{{ item.registroConselho }}</td>
        <td>{{ item.especialidade.nome }}</td>
        <td>{{ item.unidade.nome }}</td>
        <td>{{ item.telefone }}</td>
        <td>{{ item.email }}</td>
        <td>
          <a class="botao"
            routerLink="/profissional-form"
            [queryParams]="{id: item.id}">Editar</a>
          <a class="botao excluir"
            (click)="remover(item.id)">Excluir</a>
        </td>
      </tr>
    }
  </tbody>
  <tfoot>
    <tr>
      <td colspan="8">
        @if (registros.length > 0) {
          <span>Total de registros: {{ registros.length }}</span>
        } @else {
          <span>Nenhum registro encontrado</span>
        }
      </td>
    </tr>
  </tfoot>
</table>
